.App {
  text-align: center;
  width: 100vw; 
  background-color: #001e24;
  overflow-y: hidden;
  height: 100vh;
}

.App-link {
  color: #2bb40c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContainer {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 56px; /* Height of the fixed navbar */
  width: 100vw;
  height: 100vh; 
  background-color: #e0f4f8; /* Optional: Background color for the content area */
  overflow-y: auto; /* Make the content area scrollable */
  padding-left: 5rem;
  padding-right: 5rem;
}


.subordinate-container {
  height: 100vh; /* Set the height of the container */
  width: 100vw; /* Set the width as needed */
  overflow-y: scroll; /* Enables vertical scrolling */
  border: 0px solid #ccc; /* Optional: Add a border */
  padding-left: 2rem;
  align-items: left;
  flex-grow: 1;
}

.patterns-row {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  margin-right: -15px; /* Adjust the margin for proper alignment */
  margin-left: -15px;  /* Adjust the margin for proper alignment */
}
.stickyCol {
  flex: 0 0 auto;
  max-height: 100vh; /* Ensure it does not exceed the viewport height */
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the column height */
  position: sticky;
  top: 0;
  
}

