.App {
  background-color: #e0f4f8; 
}

.App-link {
  color: #2bb40c;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContainer {
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 56px; /* Height of the fixed navbar */
  
  padding-left: 5rem;
  padding-right: 5rem;
  box-sizing: border-box; 
  
}


.subordinate-container {
  border: 0px solid #ccc; /* Optional: Add a border */
  padding-left: 2rem;
  align-items: left;
  flex-grow: 1;
  
}

.patterns-row {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap to the next row */
  margin-right: -15px; /* Adjust the margin for proper alignment */
  margin-left: -15px;  /* Adjust the margin for proper alignment */
}

.stickyCol {
  flex: 0 0 auto;
  overflow-y: auto; /* Enable vertical scrolling if content exceeds the column height */
  position: sticky;
  top: 0;
}

.search-results {
  max-height: 200px; /* Adjust based on your design */
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  background: white; /* Ensure background is white for readability */
}

.compare-table {
  width: auto;
  table-layout: auto; /* Ensures columns are fixed and do not auto-expand */
}

.attribute-col {
  width: 8rem; /* Fixed width for the attribute column */
  text-align: left; /* Left-aligns text in attribute column */
  vertical-align: middle;
}

.doll-header-col {
  text-align: center;
  vertical-align: middle
  
}

.value-col {
  text-align: center;
 
}

.doll-link {
  text-decoration: none;
  color: black; /* Adjust color as needed */
}

.remove-link {
  color: red;
  text-decoration: none;
}

.search-results {
  max-height: 200px; /* Adjust based on your design */
  overflow-y: auto;
  position: absolute;
  z-index: 1000;
  background: white; /* Ensure background is white for readability */
}