.card-overlay {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 250px;
    height: 300px;
  }
  
  .card-img {
    width: auto;
    height: 100%; 
    object-fit: cover; /* Ensures the image covers the entire area */
    flex-shrink: 0; /* Prevents the image from shrinking */
  }
  
  .card-img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: relative;
    background: rgba(0, 0, 0, 0.5); 
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
  
  .overlay-text {
    color: #fff;
    padding: 0px;
    text-align: left;
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }
  
  .link {
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: #fff;
  }

  .link:hover {
    text-decoration: none;
    font-size: larger;
    font-weight: 700;
    color: #fff;
  }

  .innerLink {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
  }

  .innerLink:hover {
    text-decoration: none;
    font-weight: 400;
    color: #fff;
  }

  .card-overlay:hover .card-img-overlay {
    opacity: 1;
  }
  
  .card-overlay:hover .card-img {
    transform: scale(1.05);
  }